
/*///////////////////////////////////// custom changes//////////////////////////////////////*/
.ui-autocomplete {
    max-height: 300px;
    max-width: 1000px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
    /* add padding to account for vertical scrollbar */
    /*padding-right: 20px;*/
    /*border: 1px solid #222;*/
    /*position: absolute;*/
} 